.design-col {
    position: relative;
}

.container-fluid {
	margin-right: auto;
	margin-left: auto;
	max-width: 1500px !important;
}

/* leftLayout */
.left_layout {
	width: 100%;
	padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
}


.btn-toolbar {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 9px 1px #cccccc;
    display: inline-block;
    margin-bottom: 12px;
    width: 100%;
}

.btn-group {
    margin-bottom: 10px;
    background-color: transparent;
    display: inline-block;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 9px 1px #cccccc;
    padding: 1px;
    width: 100%
}

.btn-group-label {
    clear: both;
    color: #555555;
    display: block;
    font-family: "Open sans";
    font-size: 14px;
    font-weight: bold;
    text-shadow: 1px 1px #ffffff;
    text-transform: capitalize;
    margin-top: 5px;
    text-align: center;
    margin-bottom: 5px;
    max-width: 100%;
}

.design-btn {
  clear: both;
  display: inline-block;
  padding: 4px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  min-width: auto;
  color: #ffffff;
  box-shadow: #999999 0px 0px 0px 0px;
  border: none;

}

.type-design-btn {
	width: 60px;
    padding: 4px;
	margin: 3px !important;
	background-color: transparent;
}

.color-design-btn {
    border: solid 1px #cccccc;
	width: 23px;
	height: 23px;
    padding: 0px;
	margin: 2px !important;
	background-clip: content-box;
	border-radius: 0px
}

.leftLayout .color-design-btn.active, .leftLayout .type-design-btn.active {
    border: solid 2px blue;
    border-radius: 30%;
}

.menu-left {
    list-style: none outside none;
    margin: 0;
    padding: 0
}

.menu-left li {
    border-bottom: 1px solid #CCCCCC;
    clear: both;
    display: block;
    float: left;
    width: 100%;
}
.menu-left li a {
    display: block;
    font-family: "Open sans";
    line-height: 20px;
    outline: medium none;
    padding: 8px 10px;
}
.menu-left li a.active {
    background-color: #007AFF;
    color: #fff;
    text-shadow: 1px 1px 1px #666;
}

[data-toggle="buttons"] > .design-btn > input[type="radio"],
[data-toggle="buttons"] > .design-btn > input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  filter: alpha(opacity=0);
  opacity: 0;
}

/* centerLayout */
.center_layout {
	width: 100%;
	background-color: #ececec;
	text-align: center;
	padding-top: 80px;
    padding-bottom: 15px;
}

.center_layout div.shirt {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 600px;
    padding: 0 15px;
}

.shirt_canvas {
	border: dashed 2px #B5B5B5;
}

/* rightLayout */
.canvas_tool_box {
    padding-bottom: 15px;
	width: 100%;
    text-align: center;
    display: none;
}

.text_tool_box {
	padding-bottom: 15px;
	display: block;
    text-align: center;
    width: 100%;
}

.canvas_tool_box .btn-group {
    padding: 5px;
    text-align: center
}

.tool-design-btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 5px !important;
    background-color: #fff;
    color: #333;
    display: inline-block;
    border: 1px solid black;
    width: 28px;
    height: 28px;
    margin: 3px;
    min-width: auto;
}

.non-btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    background-color: transparent;
    color: #333;
    display: inline-block;
    border: 1px solid transparent;
    width: 28px;
    height: 28px;
    margin: 3px;
    min-width: auto;
}

.tool-design-checkbox {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 5px !important;
    background-color: #fff;
    color: #333;
    display: inline-block;
    border: 1px solid black;
    width: 28px !important;
    height: 28px !important;
    margin: 3px;
    min-width: auto;
}

[data-toggle="buttons"] > .btn > input[type="radio"],
[data-toggle="buttons"] > .btn > input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  filter: alpha(opacity=0);
  opacity: 0;
}